*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 234, 223);
}
header{
    background-color: #FF910B;
    text-align: center;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    font-weight: bold;

    &:hover{
        text-decoration: underline;
    }
}
.carousel-inner{
    overflow: visible;
}
.carousel-item .d-flex{
    width: 100%;
    margin: 5% auto;
}
.card.mb-3{
    border-radius: 18px;
}
.card img {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.titulo {
    font-size: large;
}
.centrado {
    text-align: center;
}

.restaurantes{

    h2{
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin: 40px 0;
    }

    .card-body{
        padding: 5%;
    }

    .img-fluid.left{
        border-radius: 18px 0px 0 18px
    }
    .img-fluid.right{
        border-radius: 0 18px 18px 0;
    }

    .card-title{
        font-size: 1.8rem;
        font-weight: bold;
        color: #FF910B;
    }

    .card-text{
        font-size: 1.2rem;
        color: #333;
        padding: 15px 0;
    }

    .text-body-secondary a{
        color: #a84d0b;
        font-weight: bold;
        font-size: 1.1rem;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
            color: #d56d22;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* gap: 20px; */
    width: 100%;
    background-color: #FF910B;
    padding: 40px 0;
    margin-top: 50px;
    flex-direction: column;
}

header,
footer {
    background-color: #FF910B;
    width: 100%;
}



.pie-pagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 45px 0px;
}

.pie-pagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo1 .box figure img {
    width: 250px;

}

.pie-pagina .grupo1 .box h2 {
    color: #f7f4f4;
    font-size: 20px;
    margin-bottom: 25px;
}

.pie-pagina .grupo1 .box ul{
    list-style: none;
    color: white;
}

.pie-pagina .grupo1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo1 .redes-sociales a {

    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;

    transition: all 300ms ease;
}

.pie-pagina .grupo1 .redes-sociales a:hover {

    color: rgb(231, 100, 13);
    background-color: rgba(240, 142, 23, 0.766);
}

.pie-pagina .grupo2 {
    background-color: #f1bb07;
    width: 100%;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo2 small {
    font-size: 15px;
}

@media screen and (max-width: 800px) {
    .pie-pagina .grupo1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;

    }

    .pie-pagina .grupo1 .box figure {
        margin-bottom: 20px;
    }

    .pie-pagina .grupo1 .box figure img {
        width: 200px;
    }

    .pie-pagina .grupo1 .box h2,
    .pie-pagina .grupo1 .box p {
        text-align: center;


    }

    .pie-pagina .grupo1 .redes-sociales {
        justify-content: center;

    }
}

header,
footer {
    background-color: #FF910B;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(241, 234, 223);
}
header{
    background-color: #FF910B;
    text-align: center;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    font-weight: bold;

    &:hover{
        text-decoration: underline;
    }
}
.carousel-inner{
    overflow: visible;
}
.carousel-item .d-flex{
    width: 100%;
    margin: 5% auto;
}
.card.mb-3{
    border-radius: 18px;
}
.card img {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.titulo {
    font-size: large;
}
.centrado {
    text-align: center;
}

.restaurantes{

    h2{
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin: 40px 0;
    }

    .card-body{
        padding: 5%;
    }

    .img-fluid.left{
        border-radius: 18px 0px 0 18px
    }
    .img-fluid.right{
        border-radius: 0 18px 18px 0;
    }

    .card-title{
        font-size: 1.8rem;
        font-weight: bold;
        color: #FF910B;
    }

    .card-text{
        font-size: 1.2rem;
        color: #333;
        padding: 15px 0;
    }

    .text-body-secondary a{
        color: #a84d0b;
        font-weight: bold;
        font-size: 1.1rem;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
            color: #d56d22;
        }
    }
}
.img-fixed {
    width: 90%;
    height: 300px;
    object-fit: cover; 
    border-radius: 8px; 
}

.img-custom {
        display: block;
        margin: 20px auto; 
        height: 300px;
        width: 100%;
        max-width: 500px; 
        object-fit: cover;
        border-radius: 8px;} 
