
    <!--Footer-->
    <Footer>
        <div class="pie-pagina">
            <!--Logo-->
            <img src="" alt="">
            <h3 class="mb-3">¡No te quedes sin tu parche!</h3>

            <!--Lista-->
            <nav>
                <ul>
                    <li><a href="{{ url_for('contact_form')}}">Contáctanos</a></li>
                    <li>Teléfono: 123456789</li>
                    <li>Email</li>
                    <li>Dirección: Calle 123 #45-67, Medellín, Colombia</li>
                    <li>Redes sociales: Facebook, Instagram, Twitter</li>
                </ul>
            </nav>
            <p>© 2025 A Parchar Todos los derechos reservados. </p>
        </div>
    </Footer>