<header>
    <!--Logo-->
    <img src="" alt="">
    <!--Menu desplegable-->
    <ul class="nav justify-content-center">
        <li class="nav-item-active p-4"><a class="text-dark font-weight-bold" href="{{ url_for('index') }}">Inicio</a></li>
        <li class="nav-item p-4"><a class="text-dark font-weight-bold" href="{{ url_for('restaurantes') }}">Restaurantes</a></li>
        <li class="nav-item p-4"><a class="text-dark font-weight-bold" href="{{ url_for('museos') }}">Museos</a></li>
        <li class="nav-item p-4"><a class="text-dark font-weight-bold" href="{{ url_for('lugaresTuristicos') }}">Lugares turísticos</a></li>
        <li class="nav-item p-4"><a class="text-dark font-weight-bold" href="{{ url_for('guiaCallejera') }}">Guía callejera</a></li>
        <li class="nav-item p-4"><a class="text-dark font-weight-bold" href="{{ url_for('login') }}">Iniciar Sesión</a></li>
    </ul>
</header>