<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lugares turisticos</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMt23cez/3paNdF+Zl5pD5y5z5+5p5z5z5z5z5z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lugaresTuristicos.css') }}">

</head>

<body>

    {% include 'header.html' %}

    <!--Banner inicial-->
    <div class="banner w-full">
        <video src="{{ url_for('static', filename='source/videos/videoMedellin.mp4') }}" autoplay loop muted playsinline></video>
        <div class="banner-text color-white">
            <h1 class="pb-3">¡Vamonos pa' Medellín!: Descubre el encanto de esta mágica ciudad</h1>
            <h2>La ciudad de la eterna primavera</h2>
        </div>
    </div>


    <body>
        <!--pop ups-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                    <div class="seccion-lugar activador-popup" data-popup-target="popupMuseoAntioquia">
                        <img src="{{ url_for('static', filename='source/img/Museos/Museo-de-Antioquia-1.jpg') }}" alt="Museo de Antioquia"
                            id="imgMuseoAnti">
                        <h2>Museo de Antioquia</h2>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                    <div class="seccion-lugar activador-popup" data-popup-target="popupCasaMemoria">
                        <img src="{{ url_for('static', filename='source/img/Museos/museo casa de la memoria.jpg') }}" alt="Museo Casa de la Memoria"
                            id="imgMuseCaMemo">
                        <h2>Museo Casa de la Memoria</h2>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                    <div class="seccion-lugar activador-popup" data-popup-target="popupMAMM">
                        <img src="{{ url_for('static', filename='source/img/Museos/museo de arte moderno medellin.jpg') }}" alt="MAMM" id="imgMAMM">
                        <h2>MAMM</h2>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                    <div class="seccion-lugar activador-popup" data-popup-target="popupMuseoCastillo">
                        <img src="{{ url_for('static', filename='source/img/Museos/Museo el castillo.jpg') }}" alt="Imagen del Museo el Castillo"
                            id="imgMuseoCasti">
                        <h2>Museo el Castillo</h2>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                    <div class="seccion-lugar activador-popup" data-popup-target="popupCasaGardeliana">
                        <img src="{{ url_for('static', filename='source/img/Museos/Museo-Gardeliano.jpg') }}" alt="Imagen del museo Gardeliano"
                            id="imgTeatro">
                        <h2>Casa Museo Gardeliana</h2>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                    <div class="seccion-lugar activador-popup" data-popup-target="popupMuseoAgua">
                        <img src="{{ url_for('static', filename='source/img/Museos/museo del agua.jpg') }}" alt="Imagen de Museo del agua" id="imgMusa">
                        <h2>Museo del Agua</h2>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                    <div class="seccion-lugar activador-popup" data-popup-target="popupCementerioSanPedro">
                        <img src="{{ url_for('static', filename='source/img/Museos/cementerio-san-pedro-medellin.jpg') }}"
                            alt="Imagen del Cementario Museo San Pedro" id="imgCemenSanPedro">
                        <h2>Cementerio Museo de San Pedro</h2>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                    <div class="seccion-lugar activador-popup" data-popup-target="popupPalacioCultura">
                        <img src="{{ url_for('static', filename='source/img/Museos/Palacio-de-la-cultura.jpg') }}" alt="Imagen del Palacio de la Cultura"
                            id="imgPalacio">
                        <h2>Palacio de la Cultura</h2>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                    <div class="seccion-lugar activador-popup" data-popup-target="popupMuseoUdeA">
                        <img src="{{ url_for('static', filename='source/img/Museos/Museo-universidad-antioquia.jpg') }}"
                            alt="Imagen del Museo de la Universidad" id="imgMuseoA">
                        <h2>Museo Universitario Universidad de Antioquia</h2>
                    </div>
                </div>
            </div>
        </div>
        <!--Contenido Pop ups-->
        <div id="popupMuseoAntioquia" class="popup-overlay">
            <div class="popup-contenido">
                <span class="cerrar-popup">&times;</span>
                <img src="{{ url_for('static', filename='source/img/Museos/Museo-de-Antioquia-1.jpg') }}" alt="Museo de Antioquia">
                <h2>Museo de Antioquia</h2>
                <p>El **Museo de Antioquia** es una joya cultural en el corazón de Medellín, ubicado estratégicamente
                    frente a la Plaza Botero. Fundado en 1881, es el segundo museo más antiguo de Colombia y alberga una
                    de las colecciones de arte más importantes del país. Su acervo es especialmente conocido por la
                    **extensa obra de Fernando Botero**, que incluye pinturas, esculturas y dibujos donados por el
                    propio maestro, distribuidos tanto en sus salas como en la icónica plaza exterior.
                    <br><br>
                    Además de Botero, el museo cuenta con colecciones que trazan la historia del arte colombiano desde
                    el período colonial hasta las vanguardias del siglo XX y el arte contemporáneo. Sus exhibiciones
                    permanentes y temporales ofrecen una mirada profunda a la diversidad cultural y artística de la
                    región y el país, convirtiéndolo en un espacio dinámico para el diálogo, la reflexión y el disfrute
                    del patrimonio artístico.
                    <br><br>
                    Horario de Atención:
                <ul>
                    <li>Lunes a sábado: 10:00 a.m. a 5:30 p.m.</li>
                    <li>Domingos y festivos: 10:00 a.m. a 4:30 p.m.</li>
                </ul>
                Ubicación:
                <br>Carrera 52 # 52-43, Medellín, Antioquia. (Frente a la Plaza Botero)
                </p>
                <button onclick="window.open('https://museodeantioquia.co/', '_blank')">Visitar sitio web
                    oficial</button>
            </div>
        </div>

        <div id="popupCasaMemoria" class="popup-overlay">
            <div class="popup-contenido">
                <span class="cerrar-popup">&times;</span>
                <img src="{{ url_for('static', filename='source/img/Museos/museo casa de la memoria.jpg') }}" alt="Museo Casa de la Memoria">
                <h2>Museo Casa de la Memoria</h2>
                <p>El Museo Casa de la Memoria en Medellín es un espacio conmovedor dedicado a reflexionar sobre el
                    conflicto armado colombiano y a honrar a sus víctimas. Ubicado cerca de la estación Bicentenario del
                    Metroplús, no es un museo tradicional de objetos, sino un lugar que acoge testimonios, narrativas y
                    expresiones artísticas de quienes vivieron la violencia. A través de exposiciones interactivas,
                    fotografías, videos y sonidos, el museo busca fomentar la comprensión, la memoria colectiva y la no
                    repetición. Es un sitio crucial para la reconciliación y la construcción de paz, ofreciendo una
                    perspectiva humana profunda sobre las cicatrices del conflicto y la resiliencia de la sociedad.
                    <br><br>
                    Horario de Atención:
                <ul>
                    <li>Martes a viernes: 9:00 a.m. a 5:30 p.m.</li>
                    <li>Sábados, domingos y festivos: 10:00 a.m. a 4:00 p.m.</li>
                    <li>Lunes: Cerrado.</li>
                </ul>
                Ubicación:
                <br>Calle 51 # 36-66, Barrio Boston, Medellín, Antioquia.
                </p>
                <button onclick="window.open('https://www.museocasadelamemoria.gov.co/', '_blank')">Visitar sitio web
                    oficial</button>
            </div>
        </div>

        <div id="popupMAMM" class="popup-overlay">
            <div class="popup-contenido">
                <span class="cerrar-popup">&times;</span>
                <img src="{{ url_for('static', filename='source/img/Museos/museo de arte moderno medellin.jpg') }}" alt="MAMM">
                <h2>MAMM (Museo de Arte Moderno de Medellín)</h2>
                <p>El Museo de Arte Moderno de Medellín (MAMM) es un epicentro cultural y arquitectónico ubicado en el
                    vibrante barrio de Ciudad del Río. Más que un espacio de exposición, es un punto de encuentro
                    dinámico que ha revitalizado la zona con su diseño moderno. El MAMM se enfoca en la difusión y
                    conservación del arte moderno y contemporáneo, prestando especial atención a las prácticas
                    artísticas locales, nacionales e internacionales desde la década de 1950 hasta la actualidad. Sus
                    amplias salas albergan exposiciones rotativas, una notable colección permanente y actividades
                    culturales diversas, convirtiéndolo en un lugar clave para la apreciación del arte y la interacción
                    ciudadana en Medellín.
                    <br><br>
                    Horario de Atención:
                <ul>
                    <li>Martes a vierne 11:00 a.m. a 6:00 p.m.</li>
                    <li>Sábados, domingos y festivos: 11:00 a.m. a 7:00 p.m.</li>
                    <li>Lunes: Cerrado.</li>
                </ul>
                Ubicación:
                <br>Carrera 44 # 19A-100, Ciudad del Río, Medellín, Antioquia.
                </p>
                <button onclick="window.open('https://www.mamm.org.co/', '_blank')">Visitar sitio web oficial</button>
            </div>
        </div>

        <div id="popupMuseoCastillo" class="popup-overlay">
            <div class="popup-contenido">
                <span class="cerrar-popup">&times;</span>
                <img src="{{ url_for('static', filename='source/img/Museos/Museo el castillo.jpg') }}" alt="Museo el Castillo">
                <h2>Museo El Castillo</h2>
                <p>El Museo El Castillo en Medellín es un majestuoso palacio gótico medieval que transporta a sus
                    visitantes a otra época. Construido inicialmente como una casa campestre para la familia Echavarría,
                    hoy es un fascinante museo que exhibe una vasta colección de artes decorativas europeas, incluyendo
                    mobiliario de época, cristalería, porcelanas, tapices y esculturas. Sus hermosos jardines franceses
                    y de estilo japonés son un oasis de tranquilidad y belleza, perfectos para un paseo. Más allá de su
                    valor histórico y artístico, El Castillo también es un centro cultural activo, ofreciendo
                    conciertos, talleres y eventos que lo convierten en un destino encantador para explorar la elegancia
                    del pasado.
                    <br><br>
                    Horario de Atención:
                <ul>
                    <li>Lunes a viernes: 10:00 a.m. a 6:00 p.m.</li>
                    <li>Sábados, domingos y festivos: 10:00 a.m. a 5:00 p.m.</li>
                </ul>
                Ubicación:
                <br>Calle 9 Sur # 32-260, El Poblado, Medellín, Antioquia.
                </p>
                <button onclick="window.open('https://museoelcastillo.org/', '_blank')">Visitar sitio web
                    oficial</button>
            </div>
        </div>

        <div id="popupCasaGardeliana" class="popup-overlay">
            <div class="popup-contenido">
                <span class="cerrar-popup">&times;</span>
                <img src="{{ url_for('static', filename='source/img/Museos/Museo-Gardeliano.jpg') }}" alt="Casa Museo Gardeliana">
                <h2>Casa Museo Gardeliana</h2>
                <p>El Museo Casa Gardeliana en Medellín es un emotivo homenaje al legendario Carlos Gardel, figura
                    icónica del tango, cuya memoria perdura fuertemente en el barrio de Manrique. Este modesto pero
                    significativo museo, ubicado en una casa que evoca la época dorada del tango, conmemora el trágico
                    accidente aéreo que le quitó la vida en el aeropuerto de Medellín en 1935. Albergando una colección
                    de objetos personales, fotografías, discos y recuerdos, el museo es un punto de encuentro para
                    aficionados al tango y gardelianos. Es un lugar donde se respira la pasión por su música y se honra
                    su legado en la ciudad que se convirtió en su última morada.
                    <br><br>
                    Horario de Atención:
                <ul>
                    <li>Martes a sábado: 9:00 a.m. a 5:00 p.m.</li>
                    <li>Domingos y festivos: 10:00 a.m. a 3:00 p.m.</li>
                    <li>Lunes: Cerrado.</li>
                </ul>
                Ubicación:
                <br>Carrera 45 # 76-50, Barrio Manrique, Medellín, Antioquia.
                </p>
                <button
                    onclick="window.open('https://museosdemedellin.gov.co/museos/casa-museo-gardeliana/', '_blank')">Más
                    información (Sitio Museos de Medellín)</button>
            </div>
        </div>

        <div id="popupMuseoAgua" class="popup-overlay">
            <div class="popup-contenido">
                <span class="cerrar-popup">&times;</span>
                <img src="{{ url_for('static', filename='source/img/Museos/museo del agua.jpg') }}" alt="Museo del Agua">
                <h2>Museo del Agua</h2>
                <p>El Museo del Agua EPM en Medellín es un espacio educativo y fascinante dedicado a la vital
                    importancia del agua. Ubicado en el corazón de la ciudad, este museo interactivo invita a los
                    visitantes a explorar el ciclo del agua, desde su origen natural hasta su uso en los hogares y la
                    industria. A través de exposiciones lúdicas y didácticas, se abordan temas cruciales como la
                    conservación, la gestión sostenible de los recursos hídricos y el impacto del cambio climático. Es
                    un lugar que busca crear conciencia sobre la responsabilidad de cada ciudadano en el cuidado de este
                    recurso indispensable para la vida y el futuro.
                    <br><br>
                    Horario de Atención:
                <ul>
                    <li>Martes a viernes: 8:30 a.m. a 5:00 p.m.</li>
                    <li>Sábados, domingos y festivos: 10:00 a.m. a 5:00 p.m.</li>
                    <li>Lunes: Cerrado.</li>
                </ul>
                Ubicación:
                <br>Carrera 57 # 44-9, Centro, Medellín, Antioquia.
                </p>
                <button
                    onclick="window.open('https://www.epm.com.co/site/clientes/nuestros-servicios/museo-del-agua', '_blank')">Visitar
                    sitio web oficial</button>
            </div>
        </div>

        <div id="popupCementerioSanPedro" class="popup-overlay">
            <div class="popup-contenido">
                <span class="cerrar-popup">&times;</span>
                <img src="{{ url_for('static', filename='source/img/Museos/cementerio-san-pedro-medellin.jpg') }}" alt="Cementerio Museo de San Pedro">
                <h2>Cementerio Museo de San Pedro</h2>
                <p>El Museo Cementerio San Pedro no es solo un camposanto, sino un verdadero museo a cielo abierto y un
                    Patrimonio Cultural de la Nación, ubicado en Medellín. Inaugurado en 1842, alberga mausoleos y
                    esculturas de gran valor artístico y arquitectónico, muchas de ellas obras de destacados artistas.
                    Aquí reposan figuras prominentes de la historia, la política, la cultura y el arte colombiano, como
                    el premio Nobel Gabriel García Márquez (sus cenizas están en Cartagena, pero su familia está aquí) y
                    el expresidente Carlos E. Restrepo. El museo ofrece recorridos guiados, conciertos y eventos
                    culturales, permitiendo a los visitantes explorar la historia y el arte en un entorno de paz y
                    contemplación.
                    <br><br>
                    Horario de Atención:
                <ul>
                    <li>Museo: Martes a domingo: 9:00 a.m. a 5:00 p.m.</li>
                    <li>Cementerio: Lunes a domingo: 8:00 a.m. a 6:00 p.m.</li>
                </ul>
                Ubicación:
                <br>Carrera 51 # 68-68, Sector Boston, Medellín, Antioquia.
                </p>
                <button onclick="window.open('https://www.museocementeriosanpedro.org.co/', '_blank')">Visitar sitio web
                    oficial</button>
            </div>
        </div>

        <div id="popupPalacioCultura" class="popup-overlay">
            <div class="popup-contenido">
                <span class="cerrar-popup">&times;</span>
                <img src="{{ url_for('static', filename='source/img/Museos/Palacio-de-la-cultura.jpg') }}" alt="Palacio de la Cultura">
                <h2>Palacio de la Cultura Rafael Uribe Uribe</h2>
                <p>El Palacio de la Cultura Rafael Uribe Uribe, una joya arquitectónica de estilo gótico flamenco, se
                    erige majestuosamente en el centro de Medellín, cerca del Parque Berrío. Diseñado por el arquitecto
                    belga Agustín Goovaerts y construido a principios del siglo XX, este edificio es un ícono histórico
                    y cultural de la ciudad. Originalmente sede de la Gobernación de Antioquia, hoy es un vibrante
                    centro cultural que alberga el Instituto de Cultura y Patrimonio de Antioquia, la Orquesta
                    Filarmónica de Medellín, el Centro de Documentación Musical y el Archivo Histórico. Sus
                    impresionantes fachadas, balcones y vitrales invitan a explorar su riqueza arquitectónica y la
                    intensa vida cultural que allí se desarrolla.
                    <br><br>
                    Horario de Atención:
                <ul>
                    <li>Lunes a viernes: 8:00 a.m. a 5:00 p.m. (Algunas salas pueden tener horarios especiales)</li>
                    <li>Sábados y festivos: 10:00 a.m. a 2:00 p.m.</li>
                    <li>Domingos:** Cerrado.</li>
                </ul>
                Ubicación:
                <br>Carrera 51 # 52-03, Centro, Medellín, Antioquia.
                </p>
                <button
                    onclick="window.open('https://www.culturaantioquia.gov.co/palacio-de-la-cultura-rafael-uribe-uribe', '_blank')">Visitar
                    sitio web oficial</button>
            </div>
        </div>

        <div id="popupMuseoUdeA" class="popup-overlay">
            <div class="popup-contenido">
                <span class="cerrar-popup">&times;</span>
                <img src="{{ url_for('static', filename='source/img/Museos/Museo-universidad-antioquia.jpg') }}"
                    alt="Museo Universitario Universidad de Antioquia">
                <h2>Museo Universitario Universidad de Antioquia (MUUA)</h2>
                <p>El Museo Universitario de la Universidad de Antioquia (MUUA) es un vasto repositorio de conocimiento
                    y cultura ubicado en el campus principal de la UdeA en Medellín. Fundado en 1876, es uno de los
                    museos más antiguos y completos de Colombia. Sus diversas colecciones abarcan desde piezas
                    arqueológicas y etnográficas que narran la historia precolombina y las culturas indígenas de la
                    región, hasta colecciones de ciencias naturales (geología, zoología, botánica) y un significativo
                    acervo de arte moderno y contemporáneo. El MUUA es un espacio vibrante para la investigación, la
                    educación y la divulgación, ofreciendo una perspectiva integral del patrimonio cultural y natural de
                    Antioquia y el país.
                    <br><br>
            Horario de Atención
                <ul>
                    <li>Martes a viernes: 9:00 a.m. a 5:00 p.m.</li>
                    <li>Sábados: 10:00 a.m. a 4:00 p.m.</li>
                    <li>Domingos y lunes: Cerrado.</li>
                </ul>
                Ubicación:
                <br>Calle 67 # 53-108, Medellín, Antioquia.
                <br>
                Teléfono: (604) 219 5180
                </p>
                <button
                    onclick="window.open('https://www.udea.edu.co/wps/portal/udea/web/inicio/a-z/museo-universitario', '_blank')">Visitar
                    sitio web oficial</button>
            </div>
        </div>

        <script>
        // Script para manejar los pop-ups
        document.addEventListener('DOMContentLoaded', function () {
        const activadoresPopup = document.querySelectorAll('.activador-popup');

        activadoresPopup.forEach(activador => {
            activador.addEventListener('click', function () {
                const targetPopupId = this.dataset.popupTarget;
                const popupOverlay = document.getElementById(targetPopupId);

                if (popupOverlay) {
                    popupOverlay.style.display = 'flex';
                    setTimeout(() => {
                        popupOverlay.classList.add('activo');
                    }, 10);
                }
            });
        });

        const botonesCerrar = document.querySelectorAll('.cerrar-popup');

        botonesCerrar.forEach(boton => {
            boton.addEventListener('click', function () {
                const popupOverlay = this.closest('.popup-overlay');
                if (popupOverlay) {
                    popupOverlay.classList.remove('activo');
                    setTimeout(() => {
                        popupOverlay.style.display = 'none';
                    }, 300);
                }
            });
        });

        document.querySelectorAll('.popup-overlay').forEach(overlay => {
            overlay.addEventListener('click', function (event) {
                if (event.target === overlay) {
                    overlay.classList.remove('activo');
                    setTimeout(() => {
                        overlay.style.display = 'none';
                    }, 300);
                        }
                    });
                });
            });
        </script>

        <footer class="bg-light py-4">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-12">
                <img src="{{ url_for('static', filename='source/img/a parchar_page-0001.jpg') }}" alt="Logo de A Parchar" class="img-fluid mb-2" style="max-height: 50px;">
                <h3 class="h5 mb-0">¡No te quedes sin tu parche!</h3>
            </div>

            <div class="col-12">
                <nav>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-decoration-none text-dark">Inicio</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Museos</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Parques</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Eventos</a></li>
                        <li><a href="#" class="text-decoration-none text-dark">Contacto</a></li>
                    </ul>
                </nav>
            </div>


            <div class="col-12">
                <h3 class="h5 mb-2">Contáctanos</h3>
                <p class="mb-1">Teléfono: 123456789</p>
                <p class="mb-1">Email: info@aparchar.com</p>
                <p class="mb-1">Dirección: Calle 123 #45-67, Medellín, Colombia</p>
                <p class="mb-0">Redes sociales:
                    <a href="#" class="text-decoration-none text-dark">Facebook</a>,
                    <a href="#" class="text-decoration-none text-dark">Instagram</a>,
                    <a href="#" class="text-decoration-none text-dark">Twitter</a>
                </p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 text-center text-muted">
                <p class="mb-0">© 2025 A Parchar Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
    </body>

</html>
</body>

</html>