<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lugares turisticos</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMt23cez/3paNdF+Zl5pD5y5z5+5p5z5z5z5z5z" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Museos.css') }}">

</head>

<body>
    
    {% include 'header.html' %}


    <!--Banner inicial-->
    <div class="banner w-full">
        <video src="{{ url_for('static', filename='source/videos/museos-video.mp4') }}" autoplay loop muted playsinline></video>
        <div class="banner-text color-white">
            <h1 class="pb-3">¡Vamonos pa' Medellín!: Descubre el encanto de esta mágica ciudad</h1>
            <h2>La ciudad de la eterna primavera</h2>
        </div>
    </div>
        
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <div class="seccion-lugar">
                    <img src="{{ url_for('static', filename='source/img/Museos/Museo-de-antioquia.jpg') }}" alt="Museo de Antioquia" id="imgMuseoAnti">
                    <h2>Museo de Antioquia</h2>
                    <p id="descMuseoAnti">El Museo de Antioquia, ubicado estratégicamente frente a la vibrante Plaza
                        Botero en el corazón de Medellín, es una institución cultural fundamental y el segundo museo más
                        antiguo de Colombia, fundado en 1881. Ocupando el antiguo Palacio Municipal, un edificio con
                        estilo Art Déco, alberga una impresionante colección de arte. Destaca especialmente por ser la
                        sede de la mayor colección de obras del maestro Fernando Botero, muchas de las cuales dialogan
                        con las monumentales esculturas al aire libre en la plaza adyacente. Además, el museo exhibe
                        importantes obras de artistas antioqueños como Pedro Nel Gómez y Débora Arango, ofreciendo un
                        recorrido por la historia y el arte regional, desde lo prehispánico hasta el arte moderno y
                        contemporáneo.</p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <div class="seccion-lugar">
                    <img src="{{ url_for('static', filename='source/img/Museos/museo casa de la memoria.jpg') }}" alt="Museo Casa de la Memoria"
                        id="imgMuseCaMemo">
                    <h2>Museo Casa de la Memoria</h2>
                    <p id="descMuseoCaMemo">El Museo Casa de la Memoria en Medellín es un espacio conmovedor dedicado a
                        reflexionar sobre el conflicto armado colombiano y a honrar a sus víctimas. Ubicado cerca de la
                        estación Bicentenario del Metroplús, no es un museo tradicional de objetos, sino un lugar que
                        acoge testimonios, narrativas y expresiones artísticas de quienes vivieron la violencia. A
                        través de exposiciones interactivas, fotografías, videos y sonidos, el museo busca fomentar la
                        comprensión, la memoria colectiva y la no repetición. Es un sitio crucial para la reconciliación
                        y la construcción de paz, ofreciendo una perspectiva humana profunda sobre las cicatrices del
                        conflicto y la resiliencia de la sociedad.</p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <div class="seccion-lugar">
                    <img src="{{ url_for('static', filename='source/img/Museos/museo de arte moderno medellin.jpg') }}" alt="MAMM" id="imgMAMM">
                    <h2>MAMM</h2>
                    <p id="descMAMM">El Museo de Arte Moderno de Medellín (MAMM) es un epicentro cultural y
                        arquitectónico ubicado en el vibrante barrio de Ciudad del Río. Más que un espacio de
                        exposición, es un punto de encuentro dinámico que ha revitalizado la zona con su diseño moderno.
                        El MAMM se enfoca en la difusión y conservación del arte moderno y contemporáneo, prestando
                        especial atención a las prácticas artísticas locales, nacionales e internacionales desde la
                        década de 1950 hasta la actualidad. Sus amplias salas albergan exposiciones rotativas, una
                        notable colección permanente y actividades culturales diversas, convirtiéndolo en un lugar clave
                        para la apreciación del arte y la interacción ciudadana en Medellín.</p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <div class="seccion-lugar">
                    <img src="{{ url_for('static', filename='source/img/Museos/Museo el castillo.jpg') }}" alt="Imagen del Museo el Castillo"
                        id="imgMuseoCasti">
                    <h2>Museo el Castillo</h2>
                    <p id="descMuseoCasti">El Museo El Castillo en Medellín es un majestuoso palacio gótico medieval que
                        transporta a sus visitantes a otra época. Construido inicialmente como una casa campestre para
                        la familia Echavarría, hoy es un fascinante museo que exhibe una vasta colección de artes
                        decorativas europeas, incluyendo mobiliario de época, cristalería, porcelanas, tapices y
                        esculturas. Sus hermosos jardines franceses y de estilo japonés son un oasis de tranquilidad y
                        belleza, perfectos para un paseo. Más allá de su valor histórico y artístico, El Castillo
                        también es un centro cultural activo, ofreciendo conciertos, talleres y eventos que lo
                        convierten en un destino encantador para explorar la elegancia del pasado.</p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <div class="seccion-lugar">
                    <img src="{{ url_for('static', filename='source/img/Museos/Museo-gardeliano.jpg') }}" alt="Imagen del museo Gardeliano" id="imgTeatro">
                    <h2>Casa Museo Gardeliana</h2>
                    <p id="descGardeliano">El Museo Casa Gardeliana en Medellín es un emotivo homenaje al legendario
                        Carlos
                        Gardel, figura icónica del tango, cuya memoria perdura fuertemente en el barrio de Manrique.
                        Este modesto pero significativo museo, ubicado en una casa que evoca la época dorada del tango,
                        conmemora el trágico accidente aéreo que le quitó la vida en el aeropuerto de Medellín en 1935.
                        Albergando una colección de objetos personales, fotografías, discos y recuerdos, el museo es un
                        punto de encuentro para aficionados al tango y gardelianos. Es un lugar donde se respira la
                        pasión por su música y se honra su legado en la ciudad que se convirtió en su última morada.
                    </p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <div class="seccion-lugar">
                    <img src="{{ url_for('static', filename='source/img/Museos/museo-del-agua.jpg') }}" alt="Imagen de Museo del agua" id="imgMusa">
                    <h2>Museo del Agua</h2>
                    <p id="descMusa">El Museo del Agua EPM en Medellín es un espacio educativo y fascinante dedicado a
                        la vital importancia del agua. Ubicado en el corazón de la ciudad, este museo interactivo invita
                        a los visitantes a explorar el ciclo del agua, desde su origen natural hasta su uso en los
                        hogares y la industria. A través de exposiciones lúdicas y didácticas, se abordan temas
                        cruciales como la conservación, la gestión sostenible de los recursos hídricos y el impacto del
                        cambio climático. Es un lugar que busca crear conciencia sobre la responsabilidad de cada
                        ciudadano en el cuidado de este recurso indispensable para la vida y el futuro.</p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <div class="seccion-lugar">
                    <img src="{{ url_for('static', filename='source/img/Museos/cementerio-san-pedro-medellin.jpg') }}"
                        alt="Imagen del Cementario Museo San Pedro" id="imgCemenSanPedro">
                    <h2>Cementario Museo de San Pedro</h2>
                    <p id="descCemenSanPedro">El Museo Cementerio San Pedro no es solo un camposanto, sino un verdadero
                        museo a cielo abierto y un Patrimonio Cultural de la Nación, ubicado en Medellín. Inaugurado en
                        1842, alberga mausoleos y esculturas de gran valor artístico y arquitectónico, muchas de ellas
                        obras de destacados artistas. Aquí reposan figuras prominentes de la historia, la política, la
                        cultura y el arte colombiano, como el premio Nobel Gabriel García Márquez (sus cenizas están en
                        Cartagena, pero su familia está aquí) y el expresidente Carlos E. Restrepo. El museo ofrece
                        recorridos guiados, conciertos y eventos culturales, permitiendo a los visitantes explorar la
                        historia y el arte en un entorno de paz y contemplación.</p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <div class="seccion-lugar">
                    <img src="{{ url_for('static', filename='source/img/Museos/palacio-de-la-cultura.webp') }}" alt="Imagen del Palacio de la Cultura"
                        id="imgPalacio">
                    <h2>Palacio de la Cultura</h2>
                    <p id="descPalacio">El Palacio de la Cultura Rafael Uribe Uribe, una joya arquitectónica de estilo
                        gótico flamenco, se erige majestuosamente en el centro de Medellín, cerca del Parque Berrío.
                        Diseñado por el arquitecto belga Agustín Goovaerts y construido a principios del siglo XX, este
                        edificio es un ícono histórico y cultural de la ciudad. Originalmente sede de la Gobernación de
                        Antioquia, hoy es un vibrante centro cultural que alberga el Instituto de Cultura y Patrimonio
                        de Antioquia, la Orquesta Filarmónica de Medellín, el Centro de Documentación Musical y el
                        Archivo Histórico. Sus impresionantes fachadas, balcones y vitrales invitan a explorar su
                        riqueza arquitectónica y la intensa vida cultural que allí se desarrolla.</p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                <div class="seccion-lugar">
                    <img src="{{ url_for('static', filename='source/img/Museos/museo-udea.jpg') }}"
                        alt="Imagen del Museo de la Universidad" id="imgMuseoA">
                    <h2>Museo Universitario Universidad de Antioquia</h2>
                    <p id="descMuseoA">El Museo Universitario de la Universidad de Antioquia (MUUA) es un vasto
                        repositorio de conocimiento y cultura ubicado en el campus principal de la UdeA en Medellín.
                        Fundado en 1876, es uno de los museos más antiguos y completos de Colombia. Sus diversas
                        colecciones abarcan desde piezas arqueológicas y etnográficas que narran la historia
                        precolombina y las culturas indígenas de la región, hasta colecciones de ciencias naturales
                        (geología, zoología, botánica) y un significativo acervo de arte moderno y contemporáneo. El
                        MUUA es un espacio vibrante para la investigación, la educación y la divulgación, ofreciendo una
                        perspectiva integral del patrimonio cultural y natural de Antioquia y el país.</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        // --- Código JavaScript ---

        const imagenes = document.querySelectorAll('.seccion-lugar img');
        imagenes.forEach(imagen => {
            imagen.addEventListener('click', function () {
                const seccion = this.closest('.seccion-lugar');
                const parrafo = seccion.querySelector('p');
                if (parrafo.style.display === 'none' || parrafo.style.display === '') {
                    parrafo.style.display = 'block';
                } else {
                    parrafo.style.display = 'none';
                }
            });
        });
        src = "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    </script>



    {% include 'footer.html' %}
    
</body>

</html>